@import url('https://googleapis.com');

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    padding-top: 175px;
    background-color: #ffffff13;
    font-family: 'Cabin', 'Segoe UI', sans-serif;
}

header {
    padding: 20px 0 0 0;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    background-color: #ffffff;

    transition: padding 0.3s ease, box-shadow 0.3s ease;
}

.header-container {
    flex-direction: column;
    max-width: 958px;
    margin: 0 auto;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
}

header.rolado {
    padding: 5px 0px 0px 0px;
}

header .logo {
    width: 80px;
    transition: width 0.3s ease;
}

header.rolado .logo {
    width: 45px;
}

div.header-content {
    padding-bottom: 15px;

    justify-content: space-between;
    align-items: center;

    display: flex;
}

div.logo-container {
    padding-left: 3.7rem;
    
    text-align: center;
    flex-grow: 1;
}

img.logo {
    height: auto;
    
    border-radius: 50%;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.514);

    cursor: pointer;
}

.header-actions {
    gap: 30px;
    display: flex;
}

button.icon {
    background: none;
    border: none;
    align-items: center;
    color: #000;

    display: flex;
    cursor: pointer;
}

svg#icon-pesquisa {
    margin-left: 20px;
}

svg#perfil {
    margin-top: 5px;
}

svg#icon-carrinho {
    margin-right: 20px;
}

nav.paragrafos_header {
    padding: 25px;
    gap: 30px;

    justify-content: center;

    transition: padding 0.3s ease;
    display: flex;
}

a {
    text-decoration: none;
    color: #332f29bb;
}

header.rolado div.paragrafos_header {
    padding: 15px;
}

a.atalho:hover {
    color: #00000069;
    transition: 0.3s;
}

span {
    padding-inline: 1px;
}

section.alinhador {
    padding-block: 24px;

    text-align: center;
    font-size: 10px;
}

.espaçador {
    padding-bottom: 1rem;
}

section h1 {
    padding-top: 40px;
    padding-bottom: 20px;

    font-family:'Times New Roman', Times, serif;
    color: #332f29e0;
    font-size: 19px;
    font-weight: 1;
}

main {
    padding: 20px;

    margin: 0 auto;
    max-width: 958px;
}

div.conteiner {
    margin: 0 auto;
    max-width: 1200px;
    
}

p.titulo {
    font-family:'Times New Roman', Times, serif;color: #332f29e0;
    font-size: 13px;
}

div.alinhador_box {
    justify-content: center !important;
    display: flex;
}

div.box {
    width: 510px;
    padding-inline: 15px;
}

div.formulario {
    margin-bottom: 20px;
    text-align: left;
}

label.form-email {
    margin-bottom: 10px;
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #332f29e0;
    font-size: 12px;

    display: block;
}

input {
    padding: 10px;

    border-width: 1px;
    border-color: #0000003f;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.103);

    width: 100%;
}

input::placeholder {
    color: #0000004b;
    font-size: 11px;
}

button.enviar {
    padding: 15px;
    border: none;
    border-radius: 5px;

    background-color: #e28e11;
    color: #382304;

    width: 100%;
    cursor: pointer;
}

footer {
    padding: 2rem;
    padding-top: 3rem;

    background-color: #505050b0;
    text-align: center;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.219);

    bottom: 0;
    width: 100%;
    position: fixed;
}

p.insta {
    padding-bottom: 40px;
}

.a_footer {
    color: #fff;
}

div.paragrafos_footer {
    padding-bottom: 2rem;
    gap: 20px;
    
    justify-content: center;
    display: flex;
}

p.footer {
    color: #fff;
}

p.copyright {
    color: #fff;
    font-size: 10px;
}